/* Stepper.css */
.stepper-container {
    background-color: #f0f9fd; 
    border-radius: 8px;
    width: 20rem;
  }
  
  .step-label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .stepper {
    display: flex;
    gap: 1rem;
  }
  
  .step-line {
    flex: 1;
    height: 5px;
    background-color: #c7e6e6;  /* Inactive color */
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .step-line.active {
    background-color: #3f77f7;  /* Active blue color */
  }
  
  @media (max-width: 500px) {
    .stepper-container {
        background-color: #f0f9fd; 
        border-radius: 8px;
        width: 14rem;
      }
  }