.totalSummaryCard{
    background: linear-gradient(to bottom, #122A7B, #111627);
    border-radius: 1rem;
    box-shadow: "0px 4px 8px rgba(0, 0, 0, 0.2)";
}
.cardLabel{
    font-size: 1.5rem;
    font-weight: 600;
}
.cardNumber{
    font-size: 1.25rem;
    font-weight: 300; 
}
.currentBalence{
    font-size: 0.85rem;
    font-weight: 300; 
}
.balanceValue{
    font-size: 3rem;
    font-weight: 300;  
    line-height: 1;
}
.cardDetails{
    font-size: 0.70rem;
    font-weight: 500;
}
.cardSubdetails{
    font-size: 1.1rem;
    font-weight: 500;
}

.cardButtonText{
    font-size: 1rem;
    font-weight: 300;
}