.resolution-card{
    background: linear-gradient(to bottom, #122A7B, #111627);
    border-radius: 1rem;
}
.resolveButton{
    color: #002366;
    background-color: #fff;
    border-radius: 1rem;
    font-size: 0.80rem;
    font-weight: 700;
    padding: 0 0.75rem;
    border: none;
}
.rejection-card{
    background: linear-gradient(to bottom, #122A7B, #111627);
    border-radius: 1rem;
}
.KycHeading{
    font-size: 1.25rem;
    font-weight: 600;
}
.kycHeadText{
    font-size: 1rem;
    font-weight: 600;  
}
.kycSubText{
    font-size: 1rem;
    font-weight: 300;
}
.kycDetailsCheck{
    font-size: 0.87rem;
    font-weight: 600;
}