.accountImage{
    height: 22rem;
     width: 100% 
  }

  .accountHeading{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
  }
  
  @media only screen and (max-width: 770px) {
   .accountImage{
     height: 11.9rem;
     width: 100% 
   }
  }

  input.form-control::placeholder {
    color: #D2D2D2; 
    font-size: 0.9rem;
  }