
.securityText{
    font-weight: 400;
    font-size: 0.65rem;
    color: #078960;
    background-color: #41BF9733;
    border-radius: 2rem;
  }
  .dataImage{
    height: 1rem;
    width: 1rem;
  }
  .iconText{
    font-weight: 300;
    font-size: 0.63rem;
    color: #000000;
  }
  
  .iconImage{
    height: 2rem;
    width: 2rem;
  }