.progress-card {
    background: linear-gradient(135deg, #2c7a7b 40%, #255c5e),
        radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.1), transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(0, 0, 0, 0.1), transparent 50%); 
    background-blend-mode: overlay;
    border-radius: 1rem;
    color: white;
    width: 100%;
    height: 15rem;
}

.progress-bar {
    width: 9rem;
    height: 9rem;
}

.progress-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: thin;
}

/* .fw-boldHeading {
    font-size: 1.5rem;
    font-weight: 600;
} */

.scanResultLabel{
    font-size: 1rem;
    font-weight: 500;
}
.back-arrow{
    color: #000;
    font-size: 0.73rem;
    font-weight: 500;
  }
.subText{
    font-size: 1.24rem;
    font-weight: 300;
}

.progress-card-scan-done-critical {
    border-radius: 1rem;
    background: linear-gradient(135deg, #ff5a5f 40%, #e84148 60%);
    color: white;
    height: 17rem;
}

.progress-card-scan-done-medium {
    border-radius: 1rem;
    background: linear-gradient(135deg, #c2bb4fe6 40%, #dac712 60%);
    color: white;
    height: 17rem;
}

.progress-card-scan-done-success {
    border-radius: 1rem;
    background: linear-gradient(135deg, #62b177 40%, #29940b 60%) ;
    color: white;
    height: 17rem;
}

.progressText {
    font-size: 1.2rem;
    font-weight: 500;
}

.progressHeading{
    font-size: 2.25rem;
    font-weight: 700;
}

.bigger-icon {
    font-size: 9rem;
}

.warning-message {
    color: #eee6e6;
    font-weight: 300;
}

.months {
    color: #ffffff;
    font-weight: 400;
}

.act-now {
    color: #ffffff;
    font-weight: 500;
}

.task-list {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.task-list h3 {
    font-size: 24px;
}

.task-list p {
    color: #666;
    font-size: 14px;
}

.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    margin-top: 1.25rem;
}

.task {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 18rem; */
    /* min-height: 70px; */
}

@media only screen and (max-width: 700px) {
    .tasks {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 1030px) {
    .scanResCol{
        height: 10rem;
    }
    .bigger-icon {
        font-size: 6rem;
    }
    .progress-bar {
        width: 6rem;
        height: 6rem;
    }
  }
.task .status {
    color: #ff9800;
}

.issue-count {
    display: block;
    font-size: 0.8rem;
    margin-left: 1rem;
}