input.form-control::placeholder {
    color: #D2D2D2; 
    font-size: 0.9rem;
  }

.loremText{
    color: #2F6870;
    background-color: #797979;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
}

.pfRiskLoginImage{
  height: 22rem;
   width: 100% 
}
.loginLabel{
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 770px) {
 .pfRiskLoginImage{
   height: 12.5rem;
   width: 100%
 }
}
