
/* Override autofill background color to white */
input.uanNumber:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important; /* Text color */
  /* transition: background-color 5000s ease-in-out 0s;  */
}

/* Ensure this works for dark mode or custom themes */
input.uanNumber:-webkit-autofill:focus {
  /* box-shadow: 0 0 0px 1000px white inset !important; */
  -webkit-text-fill-color: #000 !important;
}

.alreadyText{
  font-size: 0.81rem;
  font-weight: 300;
}
.loginText{
  font-weight: 600;
  color: #407BFF;
}

input.form-control::placeholder {
    color: #D2D2D2; 
    font-size: 0.9rem;
  }

.loremText{
    color: #2F6870;
    background-color: #797979;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
}

.pfRiskLoginImage{
  height: 22rem;
   width: 100% 
}
.loginLabel{
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}
.termCondition{
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}
.finRightImage{
  height: 7rem;
  width: 7rem;
}
.setTopMargin{
  margin-top: 5rem !important;
}

@media only screen and (max-width: 500px) {
  .termCondition{
    color: #000000;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .finRightImage{
    height: 3.5rem;
    width: 3.5rem;
  }
  .setTopMargin{
    margin-top: 4rem !important;
  }
 }

@media only screen and (max-width: 770px) {
 .pfRiskLoginImage{
   height: 12.5rem;
   width: 100%
 }
}
@media (min-width: 770px) {
  .vh-md-100 {
    height: 100vh;
  }
}