.otpAssessmentImage{
    height: 22rem;
     width: 100% 
  }

  .otpLabel{
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
  }

  .termConditionText{
    font-size: 0.62rem;
    font-weight: 300;
  }

  .otpText{
    color: #304DFF;
    font-size: 1rem;
    font-weight: 500;
  }

  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */
  
  @media only screen and (max-width: 770px) {
   .otpAssessmentImage{
     height: 16.5rem;
     width: 100% 
   }
  }

  @media only screen and (min-width: 770px) {
    .otpInput{
      height: 3.5rem;
    }
   }