html, body {
  font-family: "Roboto" !important;
}
.pfRiskButtons{
  color: #ffffff !important;
  background-color: #00124F!important;
  border-radius: 2rem !important;
}

.pfRiskButtons:disabled {
  background-color: #9F9F9F !important;
  color: #ffffff !important;
  cursor: not-allowed;
}

.pfRiskheading{
  /* font-family :"Roboto"; */
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
}

.pfRiskSubHeading{
  color:#000000;
  font-size: 1rem;
  font-weight: 400;
}

.labelHeading{
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

.labelSubHeading{
  color: #2F6870;
  font-size: 0.81rem;
  font-weight: 500;
}

.logo-container {
  position: fixed;
  left: 20px; 
  z-index: 1000; 
}

.logo {
  width: 5rem; 
  height: 1.7rem;
  margin-left:4rem;
  cursor: pointer;
}
.setBackGround{
  background-color: #eef9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

.EpfText{
  font-weight: 400;
  font-size: 0.81rem;
  color: #000000;
}
.welcomeLabelLogin{
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
}
@media only screen and (max-width: 770px) {
  .logo {
    width: 3rem; 
    height: 1rem;
    margin-left: 0;
  }
}

.success {
  color: green
}

.error {
  color: red
}

.pending {
  color: #ff9800
}

.pfRiskAssessmentImage{
  height: 22rem;
   width: 100% 
}

.smaller-icon {
  font-size: 0.7rem!important;
}

.cursor-pointer {
  cursor: pointer;
}

.font-small {
  font-size: 0.9rem;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 9999; 
  text-align: center; 
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-img {
  width: 15rem;
  height: 15rem;
}

.loader-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.text-warning-custom {
  color: #F56905!important
}

.blur-container {
  position: relative;
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
  /* background: #f9f9f9; */
}

/* Blurred content styling */
.blur-content {
  filter: blur(3px);
  pointer-events: none;
  color: #333;
}

/* Center the button on top */
.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media only screen and (max-width: 770px) {
  .pfRiskAssessmentImage{
    height: 16.5rem;
    width: 100%; 
  }
}
@media only screen and (max-width: 500px) {
  .pfRiskheading{
    color: #000000;
    font-size: 1rem;
    font-weight: 500; 
  }
}
.loader {
  width: 4px;
  color: #4880FF;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 5px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px;
  transform: translateX(-38px);
  animation: l26 2s infinite linear;
}
@keyframes l26 {
  12.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px}
  25%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 0px}
  50%   {box-shadow: 
    19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  62.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
    19px 0     0 5px, 38px 0     0 0px, 57px 0     0 0px,
    19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 5px}
  75%   {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 0px, 57px 0     0 5px,
    19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
  87.5% {box-shadow: 
    19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
    19px 0     0 0px, 38px 0     0 5px, 57px 0     0 0px,
    19px 19px  0 5px, 38px 19px  0 0px, 57px 19px  0 0px}
}