.pfRiskButtons{
  color: #ffffff !important;
  background-color: #2f6870 !important;
}
.pfRiskheading{
  /* font-family :Roboto; */
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}

.pfRiskSubHeading{
  color:#797979;
  font-size: 0.81rem;
  font-weight: 400;
}

.labelHeading{
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

.labelSubHeading{
  color: #2F6870;
  font-size: 0.81rem;
  font-weight: 500;
}

.logo-container {
  position: fixed;
  left: 20px; 
  z-index: 1000; 
}

.logo {
  width: 5.5rem; 
  height: 3.1rem;
}

@media only screen and (max-width: 770px) {
  .logo {
    width: 4rem; 
    height: 2.5rem;
  }
}

.success {
  color: green
}

.error {
  color: red
}

.pending {
  color: #ff9800
}

.pfRiskAssessmentImage{
  height: 22rem;
   width: 90% 
}

.smaller-icon {
  font-size: 0.7rem!important;
}

.back-arrow{
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .pfRiskAssessmentImage{
    height: 16.5rem;
    width: 90%; 
  }
}